body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

#map {
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 100%;
    z-index: -20;
    right: 0;
}

.mapboxgl-control-container .mapboxgl-ctrl-top-right .mapboxgl-ctrl-geocoder {
    margin-top: 15px;
    width: 10px;
    border-radius: 17px;
    margin-right: 170px;
}

.mapboxgl-ctrl-geocoder--icon .mapboxgl-ctrl-geocoder--icon-search {
    margin-left: 10px;
}

.mapboxgl-ctrl-geocoder .mapboxgl-ctrl {
    /* border: black solid 5px; */
    margin-right: 170px;
    background-color: lightgray;
    /* margin-left: ; */
}

button {
    display: none;
    height: 0;
    width: 0;;
}

.mapboxgl-control-container .mapboxgl-ctrl-top-right .mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--input {
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 17px;
    /* border: solid black 5px */
    padding-left: 25px;
    width: 170px;
    background-color: white;
    margin-left: 45px;
}

.mapboxgl-ctrl-geocoder--icon-close {
    width: 0;
    height: 0;
}

.mapboxgl-ctrl-geocoder {
    background-color: rgba(0, 0, 255, 0.01) !important;
}

.layerMenu {
    z-index: 100;
    bottom: 0;
    left: 0;
    position: fixed;
    margin-bottom: 35px;
    margin-left: 15px;
}

img {
    height: 75px;
    width: 75px;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    margin-right: 30px;
    margin-bottom: 10px;
}

.member_li {
    border: black solid 1px;
}

.calculation-box {
    height: 75px;
    width: 150px;
    position: absolute;
    bottom: 40px;
    left: 10px;
    padding: 15px;
    text-align: center;
    }

.container {
    z-index: 3;
}

.sideNav {
    background-color: wheat;
    position: absolute;
    width: 25%;
    height: 100%;
    left: 0;
    overflow: scroll;
}