body * {
    box-sizing: border-box;
    margin: 0;
    /* padding: 0; */
  }

#map {
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 100%;
    z-index: -20;
    right: 0;
    /* height: 100%; */
}

a.mapboxgl-ctrl-logo {
    width: 88px;
    height: 23px;
    margin: 0 0 -4px -4px;
    display: block;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 10px !important;
}

#short-map {
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 100%;
    z-index: -20;
    right: 0;
    height: 67%;
}


.mapboxgl-ctrl-bottom-right {
    right: 0;
    bottom: 10px !important;
}

.mapboxgl-ctrl-group {
    border-radius: 4px;
    background: #fff;
    position: fixed;
    bottom: 6.25%;
    right: 3%;
}

.mapboxgl-ctrl-geocoder .mapboxgl-ctrl {
    /* border: black solid 5px; */
    margin-right: 170px;
    background-color: lightgray;
    /* margin-left: ; */
}

button {
    display: none;
    height: 0;
    width: 0;;
}

.mapboxgl-control-container .mapboxgl-ctrl-top-right .mapboxgl-ctrl-geocoder {
    margin-top: 16px;
    width: 45%;
    /* text-align: left; */
    border-radius: 17px;
    margin-right: 190px;
    /* box-sizing: border-box; */
    min-width: 45%;
}

.mapboxgl-control-container .mapboxgl-ctrl-top-right .mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--input {
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 17px;
    /* border: solid black 5px; */
    padding-left: 5px;
    padding-top: 11px;
    /* width: 170px; */
    background-color: white;
    /* margin-left: 45px; */
    text-align: left;
    height: 47px;
}

.mapboxgl-ctrl-geocoder--icon-close {
    width: 0px !important;
    height: 0px !important;
    margin-top: 8px;
    margin-right: 3px;
}

.mapboxgl-ctrl-geocoder--icon-search {
    position: absolute !important;
    top: 11px !important;
    left: 140px !important;
    width: 0px !important;
    height: 0px !important;
}

.mapboxgl-ctrl-geocoder {
    background-color: rgba(0, 0, 255, 0.01) !important;
}

.mapboxgl-ctrl-group.short {
    margin: 10px 2px 278px 0 !important;
    float: right;
}

.layerMenu {
    z-index: 100;
    bottom: 0;
    left: 0;
    position: fixed;
    margin-bottom: 35px;
    margin-left: 15px;
}

.sat {
    height: 75px;
    width: 75px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.sat-short {
    height: 75px;
    width: 75px;
    border-radius: 10px;
    margin-bottom: 276px;
}

ul {
    /* list-style-type: none; */
    margin-left: -20px;
}

.member-card {
    background-color: rgba(255, 255, 255, 0.3);
    width: 85%;
    margin-left: 30px;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 7px;
    display: inline-block;
    margin-top: 10px;
}

.orgname-text {
    font-size: 17px;
    text-decoration: underline;
}

.member_li {
    border: black solid 1px;
}

.calculation-box {
    height: 75px;
    width: 150px;
    position: absolute;
    bottom: 40px;
    left: 10px;
    padding: 15px;
    text-align: center;
    }

.container {
    z-index: 3;
}

.sideNav {
    background-color: #D9C6C6;
    position: absolute;
    width: 100%;
    height: 35%;
    bottom: 0;
    overflow: auto;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}

.grid-heading {
    position: sticky;
    top: 0;
    margin: 5px;
    font-size: 22px;
    background-color: #D9C6C6;
    font-style: italic;
    letter-spacing: 1px;
    font-weight: bold;
}

hr {
    margin: 5px;
}

.hidden {
    display: none
}

h1 {
    font-family: 'Muli', sans-serif;
    text-align: center;
    margin: 10px;
}

.member-cont {
    font-family: 'Muli', sans-serif;
}

.facil-type {
    font-weight: bold;
    margin-left: 10px;
    font-size: 19px;
    letter-spacing: 1.5px;
    margin-bottom: 3px;
}

.spinner {
    /* visibility: hidden; */
    width: 80px;
    height: 80px;

    border: 2px solid #f3f3f3;
    border-top: 3px solid #f25a41;
    border-radius: 100%;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9000;

    animation: spin 1s infinite linear;
}

.spinner-background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 8;
    background: rgba(0, 0, 0, 0.3);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 600px) {
    .sideNav {
        background-color: #D9C6C6;
        position: absolute;
        width: 35%;
        height: 100%;
        bottom: 0;
        overflow: scroll;
        border-radius: 17px;
        border-top-left-radius: 0px;
        border-top-right-radius: 17px;
        border-bottom-right-radius: 17px;
        border-bottom-left-radius: 0px;
    }
    
    .hidden {
        display: none
    }

    #short-map {
        position: absolute; 
        top: 0; 
        bottom: 0; 
        width: 68%;
        z-index: -20;
        right: 0;
        height: 100%;
    }

    .mapboxgl-control-container .mapboxgl-ctrl-top-right .mapboxgl-ctrl-geocoder {
        width: 20%;
        margin-right: 259px;
    }

    .mapboxgl-control-container .mapboxgl-ctrl-top-right .mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--input {
        margin-top: 0px;
        margin-bottom: 0px;
        border-radius: 17px;
        /* border: solid black 5px; */
        padding-left: 5px;
        padding-top: 11px;
        width: 170px;
        background-color: white;
        /* margin-left: 45px; */
        text-align: left;
        height: 47px;
        width: 224px;
    }

    .sat-short {
        margin-bottom: 18px;
        margin-left: 259px;
    }

    .mapboxgl-ctrl-group.short {
        margin: 10px 2px 5px 0 !important;
        float: right;
    }

    .member-card {
        margin-left: 20px;
        overflow: hidden;
    }
}

@media screen and (min-width: 1000px) {
    .sat-short {
        /* margin-left: 327px;
        margin-bottom: 18px; */
        float: right;
    }

    .sideNav {
        width: 20%;
    }

    .layerMenu {
        width: 26%;
        margin-left: 0;
    }

    #short-map {
        width: 80%;
    }
}

@media screen and (min-width: 1700px) {
    .layerMenu {
        width: 25%;
        margin-left: 0;
    }
}